:root {
    --main-bg-color: #DBD9CD;
    --accent-color: #DCDACE;
    --text-color: #252527;
    --heading-font-family: 'Merriweather', serif;
    --paragraph-font-family: 'Poppins', sans-serif;
    
}


body {

      color: var(--text-color);
}

h1, h2, h3 {
    font-family: var(--heading-font-family);
    text-align: center;
}

h1 {
    font-size: 80px;
}

p {
    font-family: var(--paragraph-font-family);
    text-align: center;
}

.top-section {
    padding: 300px 0 200px 0;
     background: var(--main-bg-color);
}

.project-section {
    background: white;
}
.contact-section {
    padding: 10px;
}
