:root {
  --main-bg-color: #dbd9cd;
  --accent-color: #c32525;
  --text-color: #252527;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--text-color);
}

p {
  font-family: var(--default-font-family);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.hero {
  padding: 300px 0 200px 0;
  background: var(--main-bg-color);
}

h1.text-start {
  font-size: 96px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

h3 {
  font-size: 44px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  text-align: center;
}

span {
  color: var(--accent-color);
}

.btn-contact {
  background: var(--main-bg-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 6px 40px;
  border-radius: 24px;
}

.btn-contact:hover {
  background: var(--text-color);
  border: var(--text-color);
  color: white;
}

.project-section {
  background: white;
  padding: 20px 0 100px 0;
}

.project-link {
  text-align: center;
  font-size: 14px;
}
.project-link a {
  color: var(--text-color);
}

.project-link a:hover {
  color: var(--accent-color);
}
.contact-section {
  padding: 10px;
}

.about-page,
.contact-page,
.work-page {
  padding-top: 100px;
}

footer {
  background: var(--main-bg-color);
  padding: 100px 100px;
}

@media (max-width: 700px) {
  .hero {
    padding: 200px 0 100px 0;
  }

  h1.text-start {
    font-size: 44px;
    text-align: center;
    line-height: 1.5;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }

  img {
    display: none;
  }

  footer {
    padding: 80px 80px;
  }
}
