:root {
  --main-bg-color: #e5e3d7;
  --accent-color: #ac8970;
  --text-color: #393229;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--text-color);
}

h1 {
  font-size: 76px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  /* text-shadow: 1px 2px 4px #41413D; */
}

h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

h3 {
  font-size: 44px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  text-align: center;
}

p {
  font-family: var(--default-font-family);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

span {
  color: var(--accent-color);
}

.hero {
  padding: 350px 0 300px 0;
  background: var(--main-bg-color);
}

.contact-section {
  padding: 10px;
}

.btn-contact {
  background: var(--main-bg-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 6px 35px;
  border-radius: 24px;
  font-size: larger;
}

.btn-contact:hover {
  background: var(--text-color);
  border: var(--text-color);
  color: white;
}

/* about section start */

.about-section {
  padding: 0 40px 80px 40px;
  text-align: center;
}

/* project section start  */

.project-section {
  background: var(--main-bg-color);
  padding: 20px 0 100px 0;
}

.project-title {
  font-size: 30px;
}

.project-link {
  text-align: center;
  font-size: 14px;
}
.project-link a {
  color: var(--text-color);
}

.project-link a:hover {
  color: var(--accent-color);
}

/* project section end */

/* footer start */

footer {
  background: #efefe8;
  padding: 40px 50px;
}

footer {
  text-align: center;
}

.btn-footer {
  background: var(--main-bg-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 6px 30px;
  border-radius: 24px;
  font-size: larger;
}

.btn-footer:hover {
  background: var(--text-color);
  border: var(--text-color);
  color: white;
}

/* footer end */

/* project page start */

.project-page {
  padding: 0 100px 0 100px;
}

.project-description {
  padding-top: 100px;
}

.project-image {
  border: 2px solid var(--text-color);
}

/* project page end */

/* about page start */
.about-page {
  padding: 200px 40px 100px 40px;
}

.about-page h1 {
  font-size: 64px;
}

.about-page p {
  text-align: left;
}

.about-content {
  margin: 0 28px;
}

.btn-viewproject {
  background: var(--main-bg-color);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 6px 25px;
  border-radius: 24px;
  font-size: 18px;
}
.btn-viewproject:hover {
  background: var(--text-color);
  border: var(--text-color);
  color: white;
}

@media (max-width: 900px) {
  .hero {
    padding: 200px 0 100px 0;
  }

  h1.text-start {
    font-size: 44px;
    text-align: center;
    line-height: 1.5;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }

  .about-section {
    padding: 0 0 50px 0;
  }

  .project-title {
    font-size: 26px;
  }
  img {
    display: none;
  }

  footer {
    padding: 60px 60px;
  }

  .btn-footer {
    font-size: smaller;
    padding: 6px 20px;
  }

  .project-page {
    padding: 0 50px 0 50px;
  }

  .about-page {
    padding: 150px 10px;
    text-align: center;
  }
  .about-page h1 {
    font-size: 54px;
    text-align: center;
  }

  .about-page h2 {
    font-size: 24px;
  }

  .about-page img {
    display: block;
  }

  .view-btn {
    text-align: center;
  }
}
